# Ignore node_modules for both frontend & backend
node_modules/

# Ignore environment variables
.env
.env.local
.env.production
.env.development

# Ignore build files
/build
/dist
/client/build
/client/node_modules

# Ignore logs and cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system files
.DS_Store
Thumbs.db
